/* Fira Code */
@font-face {
  font-family: "FiraCode";
  src: url("/fonts/FiraCode/FiraCode-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "FiraCode";
  src: url("/fonts/FiraCode/FiraCode-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "FiraCode";
  src: url("/fonts/FiraCode/FiraCode-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "FiraCode";
  src: url("/fonts/FiraCode/FiraCode-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}


@font-face {
  font-family: "FiraCode";
  src: url("/fonts/FiraCode/FiraCode-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: "FiraCode";
  src: url("/fonts/FiraCode/FiraCode-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "FiraCode";
  src: url("/fonts/FiraCode/FiraCode-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "FiraCode";
  src: url("/fonts/FiraCode/FiraCode-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "FiraCode";
  src: url("/fonts/FiraCode/FiraCode-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "FiraCode";
  src: url("/fonts/FiraCode/FiraCode-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

/*
  Gen Seki Gothic
*/

@font-face {
  font-family: "GenSekiGothic";
  src: url("/fonts/GenSekiGothic/GenSekiGothicTW-L.ttf") url("/fonts/GenSekiGothic/GenSekiGothicJP-L.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "GenSekiGothic";
  src: url("/fonts/GenSekiGothic/GenSekiGothicTW-L.ttf") url("/fonts/GenSekiGothic/GenSekiGothicJP-L.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "GenSekiGothic";
  src: url("/fonts/GenSekiGothic/GenSekiGothicTW-R.ttf") url("/fonts/GenSekiGothic/GenSekiGothicJP-R.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "GenSekiGothic";
  src: url("/fonts/GenSekiGothic/GenSekiGothicTW-R.ttf") url("/fonts/GenSekiGothic/GenSekiGothicJP-R.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "GenSekiGothic";
  src: url("/fonts/GenSekiGothic/GenSekiGothicTW-M.ttf") url("/fonts/GenSekiGothic/GenSekiGothicJP-M.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "GenSekiGothic";
  src: url("/fonts/GenSekiGothic/GenSekiGothicTW-M.ttf") url("/fonts/GenSekiGothic/GenSekiGothicJP-M.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "GenSekiGothic";
  src: url("/fonts/GenSekiGothic/GenSekiGothicTW-B.ttf") url("/fonts/GenSekiGothic/GenSekiGothicJP-B.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "GenSekiGothic";
  src: url("/fonts/GenSekiGothic/GenSekiGothicTW-B.ttf") url("/fonts/GenSekiGothic/GenSekiGothicJP-B.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "GenSekiGothic";
  src: url("/fonts/GenSekiGothic/GenSekiGothicTW-H.ttf") url("/fonts/GenSekiGothic/GenSekiGothicJP-H.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "GenSekiGothic";
  src: url("/fonts/GenSekiGothic/GenSekiGothicTW-H.ttf") url("/fonts/GenSekiGothic/GenSekiGothicJP-H.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
}

/*
  Gen Wan Min
*/

@font-face {
  font-family: "GenWanMin";
  src: url("/fonts/GenWanMin/GenWanMinTW-L.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "GenWanMin";
  src: url("/fonts/GenWanMin/GenWanMinTW-L.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "GenWanMin";
  src: url("/fonts/GenWanMin/GenWanMinTW-R.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "GenWanMin";
  src: url("/fonts/GenWanMin/GenWanMinTW-R.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "GenWanMin";
  src: url("/fonts/GenWanMin/GenWanMinTW-M.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "GenWanMin";
  src: url("/fonts/GenWanMin/GenWanMinTW-M.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "GenWanMin";
  src: url("/fonts/GenWanMin/GenWanMinTW-SB.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "GenWanMin";
  src: url("/fonts/GenWanMin/GenWanMinTW-SB.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
}

/*
  Iansui
*/

@font-face {
  font-family: "Iansui";
  src: url("/fonts/Iansui/Iansui-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

/*
  LXGW WenKai
*/

@font-face {
  font-family: "LXGWWenKai";
  src: url("/fonts/LXGWWenKai/LXGWWenKaiTC-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "LXGWWenKai";
  src: url("/fonts/LXGWWenKai/LXGWWenKaiTC-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "LXGWWenKai";
  src: url("/fonts/LXGWWenKai/LXGWWenKaiTC-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "LXGWWenKai";
  src: url("/fonts/LXGWWenKai/LXGWWenKaiTC-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "LXGWWenKai";
  src: url("/fonts/LXGWWenKai/LXGWWenKaiTC-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "LXGWWenKai";
  src: url("/fonts/LXGWWenKai/LXGWWenKaiTC-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}
